<!DOCTYPE html>
{% load static %}
{% load banner_tags %}
{% load navbar_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Succeed with EduTrellis</title>
  <!-- Google Fonts and Icon Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- <link rel="shortcut icon" type="image/png" href="{{ navbar_settings.favicon.url }}">
  <link rel="icon" type="image/png" href="{{ navbar_settings.favicon.url }}"> -->
    <!-- Dynamic Favicon using template tag -->
    {% get_favicon_url as favicon_url %}
    {% if favicon_url %}
        <link rel="icon" type="image/png" href="{{ favicon_url }}">
        <link rel="shortcut icon" type="image/png" href="{{ favicon_url }}">
    {% else %}
        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    {% endif %}
    
</head>
<body>
    {% block navbard %}
{% include "navbar.html" %}
{% include "modal.html" %}
{% include "message.html" %}
{% endblock navbard %}


{% block content %}
 {% render_banner_slider %}

 <!-- Dynamic Stats Section -->
  {% render_stats_section %}
  
  <!-- Dynamic CTA Section -->
  {% render_cta_section %}
 


{% include "video_course.html" %}
{% include "live_class.html" %}
{% include "test_series.html" %}
{% include "e_library.html" %}
{% include "product_bundle.html" %}

{% render_about_us_section %}

{% endblock content %}
{% block footer %}
  <!-- Footer -->
    {% render_footer_section %}
  {% endblock footer %}

<script src=" {% static 'js/javascript.js' %} "></script>
</body>
</html>
